<style>
  body {
  margin: 2em;
  }
.main {
width: 50%;
}

  .main.maximized {
  width: 85%;
  }
</style>
<%= raw(@html) %>
<script>
$(function() {
  var repl = $("<div>").addClass("repl");
  repl.css({height: "100%"});
  window.PANEL = createTabPanel($("#REPL"), { maximizable: true,
                                              minimize: ".main" });
  PANEL.addTab("Interactions", repl, { cannotClose: true });
  window.REPL = repl;
  window.RUN_CODE = makeRepl(repl);
  ct_transform($(document.body));
});
</script>
<div id="REPL" class="replContainer"></div>
