[submodule "pyret-editor-backend"]
	path = pyret-editor-backend
	url = git@github.com:brownplt/pyret-editor-backend.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = git@github.com:jpolitz/CodeMirror
[submodule "ct-assignments"]
	path = ct-assignments
	url = git@github.com:jpolitz/captain-teach-assignments
