[submodule "pyret-editor-backend"]
	path = pyret-editor-backend
	url = https://github.com/brownplt/pyret-editor-backend
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/jpolitz/CodeMirror
[submodule "ct-assignments"]
	path = ct-assignments
	url = git@github.com:brownplt/captain-teach-assignments
