<%= form_tag(editor_path, method: "post") do %>
 <%= submit_tag("Create New Editor") %>
<% end %>

<ul>
<% @editors.each do |ed| %>
<li>
<%= link_to ed.title, editor_path(ed.uid), "data-no-turbolink" => true %>
</li>
<% end %>
</ul>
