<% if @student_courses.length != 0 %>
  <h3>Courses I'm Taking:</h3>
  <% @student_courses.each do |c| %>
  <div class='course'>
    <h4><%= c.title %></h4>
    <ul>
      <% c.assignments.each do |a| %>
      <li><%= link_to a.path_ref.path, assignment_path(a.uid) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

<% if @teacher_courses.length != 0 %>
  <h3>Courses I'm Teaching:</h3>
  <% @teacher_courses.each do |c| %>
  <div class='course'>
    <h4><%= link_to c.title, c %></h4>
    <ul>
      <% c.assignments.each do |a| %>
      <li><%= link_to a.path_ref.path, assignment_path(a.uid) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
