
<h3>Login/logout JavaScript Failed To Load</h3>
<p>
  JavaScript must be enabled, and the page must be able to load
  JavaScript from Persona in order to login.
</p>

<p>
  If this doesn't make sense to you, please contact joe@cs.brown.edu
  or dbpatter@cs.brown.edu and we'll figure out what is going on.
</p>
