
<div style="height:10em">
  <div id="versionsHidden" style="position:relative; width: 25%">
  </div>
  <div style="clear:both;"></div>
</div>
<script>
$(function() {
  var vButton = drawVersionsButton();
  var vList = drawVersionsList(false, []);
  var vContainer = drawVersionsContainer(vButton, vList);
  $("#versionsHidden").append(vContainer);
});
</script>

<div style="height:10em;">
  <div id="versionsShown" style="position:relative; width: 25%">
  </div>
  <div style="clear:both;"></div>
</div>
<script>
$(function() {
  var vButton = drawVersionsButton();
  var b1 = drawVersionButton(Date());
  var b2 = drawVersionButton(Date());
  var vList = drawVersionsList(true, [b1, b2]);
  var vContainer = drawVersionsContainer(vButton, vList);
  $("#versionsShown").append(vContainer);
});
</script>

<div>
  <div id="codemirror-regions-test">
  </div>
  <div id="codemirror-results">
  </div>
  <div style="clear:both;"></div>
</div>
<script>
$(function() {
  var cm = makeEditor(
    $("#codemirror-regions-test"),
    {
      initial: "",
      run: function() {}
    }
  );
  var editor = createEditor(cm.getDoc(), [
      "fun f():",
      "\ncheck:",
      "\nend"
    ],
    {
      initial: {0: "\n  # Your code here", 1: "\n  # Your tests here"} 
    });
  setInterval(function() {
    $("#codemirror-results").empty();
    $("#codemirror-results").append(
      $("<ul>")
        .append($("<li>").text(editor.getAt(0)))
        .append($("<li>").text(editor.getAt(1))));
  }, 100);
  setInterval(function() {
    editor.setAt(1, "\n  # Forcing these checks down yo throat");
  }, 1000);
});
</script>

<div>
  <div id="codemirror-inline-test">
  </div>
  <div id="codemirror-inline-results">
  </div>
  <div style="clear:both;"></div>
</div>
<script>
$(function() {
  var cm = makeEditor(
    $("#codemirror-inline-test"),
    {
      initial: "",
      run: function() {}
    }
  );
  var editor = createEditor(cm.getDoc(), [
      "fun f(x ::",", y ::",")"
    ], {
      names: ["xAnn", "yAnn"],
      initial: {xAnn: " ", yAnn: " String"}
    });
  setInterval(function() {
    $("#codemirror-inline-results").empty();
    $("#codemirror-inline-results").append(
      $("<ul>")
        .append($("<li>").text(editor.getAt("xAnn")))
        .append($("<li>").text(editor.getAt("yAnn"))));
  }, 100);
});
</script>
