<%= javascript_include_tag "spec/open_response.js" %>
<script>
var TESTDATA = <%= raw(@data) %>;
$(function() {
  console.log("The index for the user is: ", TESTDATA.user_index);
  var repl = $("<div>").addClass("repl");
  repl.css({height: "100%"});
  window.PANEL = createTabPanel($("#REPL"));
  PANEL.addTab("Interactions", repl, { cannotClose: true });
  window.REPL = repl;
  window.RUN_CODE = makeRepl(repl);

});
</script>
<div id="REPL" class="replContainer"></div>


<div id="review-editor1" style="width: 50%"></div>
<div id="review-editor2" style="width: 50%"></div>
