<script type="text/javascript">
  
  ct_ajax("<%=raw @url %>", {success: function(assignment, xhr) {
  var header = $("<h2>" + assignment.name + "</h2>");
  $("#assignment").append(header);

  var description = $("<p>" + assignment.description + "</p>");
  $("#assignment").append(description);

  var instructions = $("<p>" + assignment.instructions + "</p>");
  $("#assignment").append(instructions);

  assignment.pieces.forEach(function(piece) {
    $('#assignment').append(piece.name);
    ct_ajax("/function_data/lookup_or_create?user_id=1&ref="+piece.resource,
          {success: function(response, xhr) {
    console.log(response);
    }});
  });
 
}});
  
</script>

<div id="assignment">
  
</div>
