<%= javascript_include_tag "assignment/do_assignment" %>
<script>
var ASSIGNMENT_URL = "<%=raw @url %>";
$(function() {
  ct_ajax(ASSIGNMENT_URL, { dataType: 'json' }).mapE(function(evt) {
    console.log(evt);
    var assignment = evt.response;
    var xhr = evt.xhr;
    var header = $("<h2>" + assignment.name + "</h2>");
    $("#assignment").append(header);

    var description = $("<p>" + assignment.description + "</p>");
    $("#assignment").append(description);

    var instructions = $("<p>" + assignment.instructions + "</p>");
    $("#assignment").append(instructions);

    var piecesE = assignment.pieces.map(handlePiece);

    var switchToIndexE = receiverE();
    var assignmentB = worldB(0,
      [[switchToIndexE, function(_, evt) { return evt; }]],
      {
        dom: function(index) {
          console.log("The first piece is: ", piecesE[0]);
          return piecesE[index].mapE(function(p) { return p.dom; });
        }
      });
    insertDomE(switchE(assignmentB.dom.changes()), 'assignment', 'end');
    switchToIndexE.sendEvent(0);

  });
});
</script>

<div id="assignment">
  
</div>
